OrderTeenus/WebContent/wsdl/transport.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.example.com" xmlns:tns="http://www.example.org/transport/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="transport" targetNamespace="http://www.example.org/transport/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/transport/">
     	<xsd:element name="Transport" type="tns:Transport"/>
     	<xsd:element name="TransportResponse" type="tns:TransportResponse"/>
        <xsd:element name="TransportType" type="tns:TransportType"/>
        <xsd:complexType name="Transport">
          <xsd:sequence>
            <xsd:element name="trackingId" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      
        <xsd:complexType name="TransportResponse">
          <xsd:sequence>
            <xsd:element name="return" type="tns:Transport" minOccurs="0" maxOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      	
      	<xsd:complexType name="TransportType">
      		<xsd:sequence>
      			<xsd:element name="pakkumiseId" type="xsd:string" minOccurs="0"/>
      		</xsd:sequence>
      	
      	</xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Transport">
    <wsdl:part name="parameters" element="tns:Transport"/>
  </wsdl:message>
  <wsdl:message name="TransportResponse">
    <wsdl:part element="tns:TransportResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TransportType">
  	<wsdl:part name="parameters" element="tns:TransportType"/>
  </wsdl:message>
  <wsdl:portType name="TransportService">
    <wsdl:operation name="Transport">
      <wsdl:input wsam:Action="http://server.order.idu0080.ttu/Transport/TransportRequest" message="tns:Transport"/>
      <wsdl:output wsam:Action="http://server.order.idu0080.ttu/Transport/TransportResponse" message="tns:TransportResponse"/>
    </wsdl:operation>
    <wsdl:operation name="TransportType">
    	<wsdl:input message="tns:TransportType"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="transportServicePortBinding" type="tns:TransportService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Transport">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransportType">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Transport">
    <wsdl:port binding="tns:transportServicePortBinding" name="transportServicePort">
      <soap:address location="http://www.example.org/transport"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
