ProductServer/WebContent/couriers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown.--><xs:schema version="1.0" targetNamespace="http://server.order.idu0080.ttu/" xmlns:tns="http://server.order.idu0080.ttu/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getAllCouriers" type="tns:getAllCouriers"/>
  <xs:element name="getAllCouriersResponse" type="tns:getAllCouriersResponse"/>
  <xs:element name="getCourierById" type="tns:getCourierById"/>
  <xs:element name="getCourierByIdResponse" type="tns:getCourierByIdResponse"/>
  <xs:element name="getCouriersByAddress" type="tns:getCouriersByAddress"/>
  <xs:element name="getCouriersByAddressResponse" type="tns:getCouriersByAddressResponse"/>
  <xs:complexType name="getCouriersByAddress">
    <xs:sequence>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="county" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCouriersByAddressResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:courier" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courier">
    <xs:sequence>
      <xs:element name="addresses" type="tns:entAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="enterprise" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="percent_from_order" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entAddress">
    <xs:sequence>
      <xs:element name="address" type="xs:int"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="county" type="xs:string" minOccurs="0"/>
      <xs:element name="street_address" type="xs:string" minOccurs="0"/>
      <xs:element name="town_village" type="xs:string" minOccurs="0"/>
      <xs:element name="zipcode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCourierById">
    <xs:sequence>
      <xs:element name="courier_id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCourierByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:courier" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllCouriers">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllCouriersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:courier" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>