ProductServer/WebContent/couriers_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown.--><definitions targetNamespace="http://server.order.idu0080.ttu/" name="CourierServiceService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.order.idu0080.ttu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.order.idu0080.ttu/" schemaLocation="couriers.xsd"/>
    </xsd:schema>
  </types>
  <message name="getCouriersByAddress">
    <part name="parameters" element="tns:getCouriersByAddress"/>
  </message>
  <message name="getCouriersByAddressResponse">
    <part name="parameters" element="tns:getCouriersByAddressResponse"/>
  </message>
  <message name="getAllCouriers">
    <part name="parameters" element="tns:getAllCouriers"/>
  </message>
  <message name="getAllCouriersResponse">
    <part name="parameters" element="tns:getAllCouriersResponse"/>
  </message>
  <message name="getCourierById">
    <part name="parameters" element="tns:getCourierById"/>
  </message>
  <message name="getCourierByIdResponse">
    <part name="parameters" element="tns:getCourierByIdResponse"/>
  </message>
  <portType name="CourierService">
    <operation name="getCouriersByAddress">
      <input wsam:Action="http://server.order.idu0080.ttu/CourierService/getCouriersByAddressRequest" message="tns:getCouriersByAddress"/>
      <output wsam:Action="http://server.order.idu0080.ttu/CourierService/getCouriersByAddressResponse" message="tns:getCouriersByAddressResponse"/>
    </operation>
    <operation name="getAllCouriers">
      <input wsam:Action="http://server.order.idu0080.ttu/CourierService/getAllCouriersRequest" message="tns:getAllCouriers"/>
      <output wsam:Action="http://server.order.idu0080.ttu/CourierService/getAllCouriersResponse" message="tns:getAllCouriersResponse"/>
    </operation>
    <operation name="getCourierById">
      <input wsam:Action="http://server.order.idu0080.ttu/CourierService/getCourierByIdRequest" message="tns:getCourierById"/>
      <output wsam:Action="http://server.order.idu0080.ttu/CourierService/getCourierByIdResponse" message="tns:getCourierByIdResponse"/>
    </operation>
  </portType>
  <binding name="CourierServicePortBinding" type="tns:CourierService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCouriersByAddress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllCouriers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCourierById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CourierServiceService">
    <port name="CourierServicePort" binding="tns:CourierServicePortBinding">
      <soap:address location="http://tund.ttu.ee:80/orderservice/couriers"/>
    </port>
  </service>
</definitions>