ProductServer/WebContent/orders.wsdl

<?xml version="1.0"?>

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
 
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
 
<definitions targetNamespace="http://server.order.idu0080.ttu/" name="OrderServiceService"
 xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
 xmlns:wsp="http://www.w3.org/ns/ws-policy"
 xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:tns="http://server.order.idu0080.ttu/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	>
<types>
	<xsd:schema>
		<xsd:import namespace="http://server.order.idu0080.ttu/" schemaLocation="orders.xsd" />
	</xsd:schema>
</types>

<message name="getOrdersByCustomerId">
	<part name="parameters" element="tns:getOrdersByCustomerId" />
</message>

<message name="getOrdersByCustomerIdResponse">
	<part name="parameters" element="tns:getOrdersByCustomerIdResponse" />
</message>

<message name="getOrdersByShippingAddress">
	<part name="parameters" element="tns:getOrdersByShippingAddress" />
</message>

<message name="getOrdersByShippingAddressResponse">
	<part name="parameters" element="tns:getOrdersByShippingAddressResponse" />
</message>

<message name="getOrdersByCustomerLastName">
	<part name="parameters" element="tns:getOrdersByCustomerLastName" />
</message>

<message name="getOrdersByCustomerLastNameResponse">
	<part name="parameters" element="tns:getOrdersByCustomerLastNameResponse" />
</message>

<message name="getAllOrders">
	<part name="parameters" element="tns:getAllOrders" />
</message>

<message name="getAllOrdersResponse">
<part name="parameters" element="tns:getAllOrdersResponse" />
</message>

<message name="getOrdersByOrderId">
	<part name="parameters" element="tns:getOrdersByOrderId" />
</message>

<message name="getOrdersByOrderIdResponse">
	<part name="parameters" element="tns:getOrdersByOrderIdResponse" />
</message>

<portType name="OrderService">
	<operation name="getOrdersByCustomerId">
		<input wsam:Action="http://server.order.idu0080.ttu/OrderService/getOrdersByCustomerIdRequest" message="tns:getOrdersByCustomerId" />
		<output wsam:Action="http://server.order.idu0080.ttu/OrderService/getOrdersByCustomerIdResponse" message="tns:getOrdersByCustomerIdResponse" />
	</operation>
	
	<operation name="getOrdersByShippingAddress">
		<input wsam:Action="http://server.order.idu0080.ttu/OrderService/getOrdersByShippingAddressRequest" message="tns:getOrdersByShippingAddress" />
		<output wsam:Action="http://server.order.idu0080.ttu/OrderService/getOrdersByShippingAddressResponse" message="tns:getOrdersByShippingAddressResponse" />
	</operation>
	
	<operation name="getOrdersByCustomerLastName">
		<input wsam:Action="http://server.order.idu0080.ttu/OrderService/getOrdersByCustomerLastNameRequest" message="tns:getOrdersByCustomerLastName" />
		<output wsam:Action="http://server.order.idu0080.ttu/OrderService/getOrdersByCustomerLastNameResponse" message="tns:getOrdersByCustomerLastNameResponse" />
	</operation>
	
	<operation name="getAllOrders">
		<input wsam:Action="http://server.order.idu0080.ttu/OrderService/getAllOrdersRequest" message="tns:getAllOrders" />
		<output wsam:Action="http://server.order.idu0080.ttu/OrderService/getAllOrdersResponse" message="tns:getAllOrdersResponse" />
	</operation>
	
	<operation name="getOrdersByOrderId">
		<input wsam:Action="http://server.order.idu0080.ttu/OrderService/getOrdersByOrderIdRequest" message="tns:getOrdersByOrderId" />
		<output wsam:Action="http://server.order.idu0080.ttu/OrderService/getOrdersByOrderIdResponse" message="tns:getOrdersByOrderIdResponse" />
	</operation>
</portType>

<binding name="OrderServicePortBinding" type="tns:OrderService">
	<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

	<operation name="getOrdersByCustomerId">
		<soap:operation soapAction="" />

		<input>
			<soap:body use="literal" />
		</input>
		
		<output>
			<soap:body use="literal" />
		</output>
	</operation>
	
	<operation name="getOrdersByShippingAddress">
		<soap:operation soapAction="" />

		<input>
			<soap:body use="literal" />
		</input>
		
		<output>
			<soap:body use="literal" />
		</output>
	</operation>
	
	<operation name="getOrdersByCustomerLastName">
		<soap:operation soapAction="" />

		<input>
			<soap:body use="literal" />
		</input>
		
		<output>
			<soap:body use="literal" />
		</output>
	</operation>
	
	<operation name="getAllOrders">
		<soap:operation soapAction="" />

		<input>
			<soap:body use="literal" />
		</input>
		
		<output>
			<soap:body use="literal" />
		</output>
	</operation>
	
	<operation name="getOrdersByOrderId">
		<soap:operation soapAction="" />

		<input>
			<soap:body use="literal" />
		</input>
		
		<output>
			<soap:body use="literal" />
		</output>
	</operation>
</binding>

<service name="OrderServiceService">
	<port name="OrderServicePort" binding="tns:OrderServicePortBinding">
		<soap:address location="http://tund.ttu.ee:80/orderservice/orders" />
	</port>
</service>
</definitions>